{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h2 class="display-2 text-center text-white-50">CoronaCast</h2>
<div class="text-center" id="content">
    <p class="lead">
        A simple yet interpretable system for predicting daily COVID cases and deaths for US states. 
    </p>
    <div id="buttons">
        <a href="/predictcasesform"><button type="button" class="btn home-button main-button btn-lg">Predict Cases</button></a>
        <a href="/predictdeathsform"><button type="button" class="btn home-button main-button btn-lg">Predict Deaths</button></a>
    </div>
    <br>
    <br>
    <br>
    <p id="paragraph">
        Most people have no idea how a prediction is being made. They just blindly enter in numbers and letters, click a button, and wait
        for a result. Hence, they are less likely to trust the result they get. With COVID-19, knowing daily cases and deaths is extremely important
        and trust needs to be inherent in a prediction. That's why CoronaCast was built. Using easy-to-understand text-based and graphical explanations, CoronaCast
        aims to explain the number of predicted COVID-19 cases and deaths for any given US state. Doing so will build user trust in the system, and that is what
        making predictions is all about. 
    </p>
</div>

{% endblock %}