{% extends "layout.html" %}

{% block title %}
    Predict Deaths
{% endblock %}

{% block main %}
<h2 class="display-2 text-center text-white-50">Predict Deaths</h2>
<div id="form">
    <form method="GET", action="/predictdeaths">
        <div class="row">
            <div class="col">
                <label for="geo_value">US State</label>
                {% if state %}
                <select name="geo_value" class="form-control">
                    {% for s in states %}
                        {% if s == state %}
                        <option value="{{s}}" selected>{{s}}</option>
                        {% else %}
                        <option value="{{s}}" >{{s}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {% else %}
                <select name="geo_value" class="form-control">
                    <option value="{{states[0]}}" selected>{{states[0]}}</option>
                    {% for state in states[1:] %}
                    <option value="{{state}}">{{state}}</option>
                    {% endfor %}
                </select>
                {% endif %}
                <small class="form-text text-white">The US State you are predicting deaths for.</small>
            </div>
            <div class="col">
                <label for="cases">Positive COVID Cases</label>
                {% if cases %}
                <input name="cases" type="number" class="form-control" value="{{ cases }}">
                {% else %}
                <input name="cases" type="number" class="form-control" placeholder="0">
                {% endif %}
                <small class="form-text text-white">The estimated number of cases in the state 1 week before the day you are predicting deaths for.</small>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="tests_positive">Percentage of Positive COVID Tests</label>
                {% if tests_positive %}
                <input name="tests_positive" type="number" class="form-control" value="{{ tests_positive }}" max="100" min="0" step="any">
                {% else %}
                <input name="tests_positive" type="number" class="form-control" placeholder="0" max="100" min="0" step="any">
                {% endif %}
                <small class="form-text text-white">The percentage of positive COVID tests in the state 1 week before the day you are predicting deaths for.</small>
            </div>
            <div class="col">
                <label for="admissions">Percentage of COVID-related Hospital Visits</label>
                {% if admissions %}
                <input name="admissions" type="number" class="form-control" value="{{ admissions }}" max="100" min="0" step="any">
                {% else %}
                <input name="admissions" type="number" class="form-control" placeholder="0" max="100" min="0" step="any">
                {% endif %}
                <small class="form-text text-white">The percentage of COVID-related hospital visits in the state 1 week before the day you are predicting deaths for.</small>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="full_time">Percentage of Mobile Devices Significantly away from Home</label>
                {% if full_time %}
                <input name="full_time" type="number" class="form-control" value="{{ full_time }}" max="100" min="0" step="any">
                {% else %}
                <input name="full_time" type="number" class="form-control" placeholder="0" max="100" min="0" step="any">
                {% endif %}
                <small class="form-text text-white">The percentage of mobile devices that spent more than 6 hours at a location other than their home during the daytime in the state 2 weeks before the day you are predicting deaths for.</small>
            </div>
            <div class="col">
                <label for="home">Percentage of Mobile Devices fully at Home</label>
                {% if home %}
                <input name="home" type="number" class="form-control" value="{{ home }}" max="100" min="0" step="any">
                {% else %}
                <input name="home" type="number" class="form-control" placeholder="0" max="100" min="0" step="any">
                {% endif %}
                <small class="form-text text-white">The percentage of mobile devices that did not leave the immediate area of their home in the state 2 weeks before the day you are predicting deaths for.</small>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="visits">Percentage of COVID-related Doctor's Visits</label>
                {% if visits %}
                <input name="visits" type="number" class="form-control" value="{{ visits }}" max="100" min="0" step="any">
                {% else %}
                <input name="visits" type="number" class="form-control" placeholder="0" max="100" min="0" step="any">
                {% endif %}
                <small class="form-text text-white">The estimated percentage of outpatient doctor visits primarily about COVID-related symptoms in the state 1 week before the day you are predicting deaths for.</small>
            </div>
            <div class="col">
                <label for="fb_illness">Percentage of people with COVID according to Facebook</label>
                {% if visits %}
                <input name="fb_illness" type="number" class="form-control" value="{{ fb_illness }}" max="100" min="0" step="any">
                {% else %}
                <input name="fb_illness" type="number" class="form-control" placeholder="0" max="100" min="0" step="any">
                {% endif %}
                <small class="form-text text-white">The estimated percentage of people with COVID-like illness according to a limited Facebook survey in the state 1 week before the day you are predicting deaths for.</small>
            </div>
        </div>
        <div id="submit-button" class="text-center">
            <button type="submit" class="btn main-button btn-lg">Predict Deaths</button>
        </div>
    </form>
</div>
<br><br>
<div id="prediction">
    {% if deaths %}
    <h3>Predicted Deaths: {{ deaths }}</h3>
    {% endif %}
    {% if explanation %}
    <p>{{ explanation }}</p>
    {% endif %}
    <div class="graph_container">
        <canvas id="Chart"></canvas>
    </div>
    {% if weights and labels %}
    <script>createDeathsChart({{ weights|safe }}, {{ labels|safe }})</script>
    {% endif %}
</div>
{% endblock %}