{% extends "layout.html" %}

{% block title %}
    Predict Deaths
{% endblock %}

{% block main %}
<h2 class="display-2 text-center text-white-50">Predict Deaths</h2>
<div id="form">
    <form method="GET", action="/predictdeaths">
        <div class="row">
            <div class="col">
                <label for="geo_value">US State or Territory</label>
                <select name="geo_value" class="form-control">
                    <option value="{{states[0]}}" selected>{{states[0]}}</option>
                    {% for state in states[1:] %}
                    <option value="{{state}}">{{state}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="cases">Positive COVID Cases</label>
                <input name="cases" type="number" class="form-control" placeholder="0">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="tests_positive">Percentage of Positive COVID Tests</label>
                <input name="tests_positive" type="number" class="form-control" placeholder="0" max="100" min="0">
            </div>
            <div class="col">
                <label for="admissions">Percentage of COVID-related Hospital Visits</label>
                <input name="admissions" type="number" class="form-control" placeholder="0" max="100" min="0">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="full_time">Percentage of Mobile Devices Significantly away from Home</label>
                <input name="full_time" type="number" class="form-control" placeholder="0" max="100" min="0">
            </div>
            <div class="col">
                <label for="home">Percentage of Mobile Devices fully at Home</label>
                <input name="home" type="number" class="form-control" placeholder="0" max="100" min="0">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="visits">Percentage of COVID-related Doctor's Visits</label>
                <input name="visits" type="number" class="form-control" placeholder="0" max="100" min="0">
            </div>
            <div class="col">
                <label for="fb_illness">Percentage of people with COVID according to Facebook</label>
                <input name="fb_illness" type="number" class="form-control" placeholder="0" max="100" min="0">
            </div>
        </div>
        <div id="submit-button" class="text-center">
            <button type="submit" class="btn main-button btn-lg">Predict Deaths</button>
        </div>
    </form>
</div>
{% endblock %}